* {
    user-select: none;
    -webkit-user-drag: none;
}

img {
    image-rendering: pixelated;
    background-color: transparent;
}

h1 {
    font-family: 'big-pixel-font';
    color: white;
    letter-spacing: 3px;
}

p, label {
    font-family: 'small-pixel-font';
    color: white;
    letter-spacing: 2px;
}

img.card-img {
    --flip-duration: 0.3s;
    width: 100%;
    height: auto;
    transform: scaleX(-1);
    scale: 1;
    filter: brightness(1) drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
    
    transition:
        transform var(--flip-duration) linear,
        scale 0.05s ease-out,
        rotate 0.01s ease-in,
        filter 0.05s ease-in;
}

img.card-img:hover {
    scale: 1.05;
    rotate: 1deg;
    filter: brightness(1.1);
}

img.card-img:active {
    scale: 0.95;
}

img.card-img.flipped {
    transform: scaleX(1);
    scale: 1;
    rotate: 0deg;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
}

img.card-img.flipped.matched {
    filter: drop-shadow(0 0 10px rgb(255 236 31)) sepia(100%) saturate(300%) hue-rotate(55deg);
}

img.card-img.flipped.rejected {
    filter: drop-shadow(0 0 10px rgb(255 78 78)) sepia(50%) saturate(300%) hue-rotate(-20deg);
}

.card {
    width: calc(36px * var(--size-multiplier));
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#cards {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(var(--cards-per-row), auto);
    gap: 25px;
    margin: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('images/background1.png');
    background-size: 128px;
    background-repeat: repeat;
    image-rendering: pixelated;
}

main {
    /* Display elements one on top of each other but in the center of the screen */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

@font-face {
    font-family: 'big-pixel-font';
    src: url('fonts/Born2bSportyFS.otf') format('opentype');
}

@font-face {
    font-family: 'small-pixel-font';
    src: url('fonts/HydrophiliaIced-Regular.ttf') format('truetype');
}

