* {
    user-select: none;
    -webkit-user-drag: none;
}

img {
    image-rendering: pixelated;
    background-color: transparent;
}

h1 {
    font-family: 'big-pixel-font';
    color: white;
    letter-spacing: 3px;
}

p, label {
    font-family: 'small-pixel-font';
    color: white;
    letter-spacing: 2px;
}

select {
    font-family: 'small-pixel-font';
    color: rgb(0, 0, 0);
    background:
        url('images/joker-red.png') no-repeat center;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

option {
    background-color: white;
    color: black;
    font-family: 'small-pixel-font';
}

img.card-img {
    --flip-duration: 0.3s;
    width: 100%;
    height: auto;
    transform: scaleX(-1);
    scale: 1;
    filter: brightness(1) drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
    transition:
        transform var(--flip-duration) ease-in-out,
        scale 0.1s cubic-bezier(.4, 0, .2, 3),
        rotate 0.01s ease-in,
        filter 0.05s ease-in;
}

img.card-img:hover {
    scale: 1.1;
    rotate: 1deg;
    filter: brightness(1.1);
}

img.card-img:active {
    scale: 0.95;
}

img.card-img.flipped {
    transform: scaleX(1);
    scale: 1;
    rotate: 0deg;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7));
}

img.card-img.flipped.matched {
    filter: drop-shadow(0 0 10px rgb(255 236 31)) sepia(100%) saturate(300%) hue-rotate(55deg);
}

img.card-img.flipped.rejected {
    filter: drop-shadow(0 0 10px rgb(255 78 78)) sepia(50%) saturate(300%) hue-rotate(-20deg);
}

img.card-img.flipped.cheering {
    animation: cheer 0.6s ease-in-out 4;
}

.card {
    width: calc(36px * var(--size-multiplier));
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#cards {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(var(--cards-per-row), auto);
    gap: 25px;
    margin: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    background:
        radial-gradient(circle, transparent 30%, rgba(0, 0, 0, 0.4) 100%),
        url('images/background1.png');
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    image-rendering: pixelated;
    background-size: 100vw, 128px;
    background-position: 0 0, var(--background-offset) var(--background-offset);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lower-left-dock {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.volume-icon {
    width: 48px;
    height: auto;
    margin: 5px;


    transition: filter 0.1s ease-out;
}

.volume-icon.muted {
    filter: grayscale(100%) brightness(0.5);
}

@font-face {
    font-family: 'big-pixel-font';
    src: url('fonts/Born2bSportyFS.otf') format('opentype');
}

@font-face {
    font-family: 'small-pixel-font';
    src: url('fonts/HydrophiliaIced-Regular.ttf') format('truetype');
}

@keyframes cheer {
    0% {
        transform: translateY(0);
        rotate: 0deg;
    }
    25% {
        transform: translateY(-20px);
        rotate: 15deg;
    }
    50% {
        transform: translateY(0);
        rotate: 0deg;
    }
    75% {
        transform: translateY(-20px);
        rotate: -15deg;
    }
    100% {
        transform: translateY(0);
        rotate: 0deg;
    }
}


